Repository theopenlane/riverboat, pull requests merged in 2025-05, with the labels that each got.

#102 Custom domain job scaffolding
  config/config.example.yaml
  configgen/api-docs.md
  configgen/riverboat.config.json
  internal/river/config.go
  internal/river/workers.go
  pkg/jobs/create_custom_domain.go
  pkg/jobs/create_custom_domain_test.go
  pkg/jobs/delete_custom_domain.go
  pkg/jobs/delete_custom_domain_test.go
  pkg/jobs/validate_custom_domain.go
  pkg/jobs/validate_custom_domain_test.go
  test/create_custom_domain/main.go
  test/delete_custom_domain/main.go
  test/validate_custom_domain/main.go
Labels: jobs

#103 create and delete custom domain implementation
  .mockery.yml
  config/config.example.yaml
  configgen/api-docs.md
  configgen/riverboat.config.json
  go.mod
  go.sum
  internal/cloudflare/client.go
  internal/cloudflare/mocks/mocks.go
  internal/olclient/client.go
  internal/olclient/mocks/mocks.go
  pkg/jobs/create_custom_domain.go
  pkg/jobs/create_custom_domain_test.go
  pkg/jobs/custom_domain_shared.go
  pkg/jobs/delete_custom_domain.go
  pkg/jobs/delete_custom_domain_test.go
  pkg/jobs/validate_custom_domain.go
  pkg/jobs/validate_custom_domain_test.go
  pkg/riverqueue/mocks/mocks.go
  test/create_custom_domain/main.go
  test/delete_custom_domain/main.go
Labels: jobs, client

#104 validate custom domain implementation
  go.mod
  go.sum
  internal/cloudflare/client.go
  internal/cloudflare/mocks/mocks.go
  pkg/jobs/validate_custom_domain.go
  pkg/jobs/validate_custom_domain_test.go
  test/validate_custom_domain/main.go
Labels: jobs

#109 remove core jobs
  .golangci.yaml
  README.md
  Taskfile.yaml
  config/config.go
  configgen/generator.go
  go.mod
  go.sum
  internal/cloudflare/client.go
  internal/cloudflare/mocks/mocks.go
  internal/olclient/client.go
  internal/olclient/mocks/mocks.go
  internal/river/config.go
  internal/river/doc.go
  internal/river/workers.go
  internal/server/config/config.go
  internal/server/config/configproviderrefresh.go
  internal/server/serveropts/option.go
  internal/server/serveropts/server.go
  main.go
  pkg/jobs/create_custom_domain.go
  pkg/jobs/create_custom_domain_test.go
  pkg/jobs/custom_domain_shared.go
  pkg/jobs/database.go
  pkg/jobs/delete_custom_domain.go
  pkg/jobs/delete_custom_domain_test.go
  pkg/jobs/doc.go
  pkg/jobs/errors.go
  pkg/jobs/validate_custom_domain.go
  pkg/jobs/validate_custom_domain_test.go
  pkg/riverqueue/doc.go
  pkg/riverqueue/errors.go
  pkg/riverqueue/generate/.mockery.yml
  pkg/riverqueue/generate/generate.go
  test/create_custom_domain/main.go
  test/delete_custom_domain/main.go
  test/validate_custom_domain/main.go
Labels: jobs, local-development, client
